params {
    data = "data/"
    results = "results/"
    mode = null

    front = null
    adapter = null

    f_read = null
    r_read = null
    f_primer = null
    r_primer = null
    f_trunc_len = 0
    r_trunc_len = 0

    taxa_classifier = null

    check_read_quality = false
    calculate_diversity = false
}

docker {
    enabled = true
}